<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
<head>
    <title>{{ page_title|default:_('Page title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/django.css' %}">
</head>
<body>

{% block 'content' %}{% endblock %}

<p>
    `context` variable `public_port`: {{ public_port|default:'None' }}
</p>
<p>
    `context` variable `app_port`: {{ app_port|default:'None' }}
</p>
<!-- script src="{% static 'scripts/base.js' %}"></script> -->
</body>
</html>